{% extends "@Contao/content_element/_base.html.twig" %}
{% block content %}
    {% for item in items %}
        <div class="release">
            <div class="tag">{{ item.tag }}</div>
            <div class="date">{{ item.publishedDate }}</div>
            <div class="note">{{ item.note|nl2br }}</div>
            <div class="url"><a href="{{ item.url }}" target="_blank" title="Github">{{ item.url }}</a></div>
        </div>
    {% else %}
        <p class="empty">{{ empty }}</p>
    {% endfor %}
{% endblock %}